*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    backdrop-filter: blur(1rem);
    border-top: 1px solid rgba(27, 126, 172, 0.2);
    border-left: 1px solid rgba(124, 7, 7, 0.2);
    box-shadow: 5px 5px 40px rgba(235, 51, 51, 0.2);
  border-radius: 3px;
  }
  .video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  .claci{
    height: 90vh;
    width: 67vh;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgb(20, 228, 210);
    border-left: 1px solid rgb(20, 228, 210);
    box-shadow: 5px 5px 10px rgb(20, 228, 210);
  border-radius: 50px;
  }
  h1{
    padding-left: 7rem;
  }
  .container {
      padding-left: 10px;
    position: relative;
    top: 3rem;
    font-size: 25px;
  } 

  ul li{
      list-style-type: none;
      line-break: auto;
      padding-top: 5px;
  } 
  input{
    width: 10rem;
    height: 2rem;
    background: rgb(20, 228, 210);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgb(20, 228, 210);
    border-left: 1px solid rgb(20, 228, 210);
    box-shadow: 5px 5px 40px rgb(20, 228, 210);
    border-radius: 50px;
    text-align: center;
  }
#btn{
    width: 25vw;
    height: 5vh;
            display: inline-block;
            color: black;
            text-decoration: none;
            font-size: 10px;
            overflow: hidden;
            position: relative;
            left: 2rem;
            background: rgb(20, 228, 210);
            backdrop-filter: blur(10px);
            border-top: 1px solid rgb(20, 228, 210);
            border-left: 1px solid rgb(20, 228, 210);
            box-shadow: 5px 5px 40px rgb(20, 228, 210);
            border-radius: 50px;
}
#btn:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 30px #39ff14;
}
select{
    width: 10rem;
    height: 2rem;
    background: rgb(20, 228, 210);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgb(20, 228, 210);
    border-left: 1px solid rgb(20, 228, 210);
    box-shadow: 5px 5px 40px rgb(20, 228, 210);
    border-radius: 50px;
    text-align: center;
}
